


body {
    min-height: 100%;
    background-image: linear-gradient(to top right, #ff4000, orange);
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: #f8e7d3;
}

a {
    text-decoration: none;
}

th, td {
    padding: 10px 10px;
}

.headers{
    color:#8c8c8c;
    background-color: #1a1b1d;;
    font-weight: lighter;
    letter-spacing: 0.05em;
}

tr {
    background-color: #252628;
    padding-top:100px;
    padding-bottom:20px;
    height: 60px;
}

.all-content {
    max-width: 94%;
    margin: 3em auto;
    background-color: #1a1b1d;
    border-radius: 10px;
    box-shadow: 1px 3px 10px 1px#1a1b1d;
    height: 100%;
}

.header-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: black;
    padding: 0px 50px;
}

.site-title-container {
    display: inline;
}

.site-title {
    text-align: left;
    align-items: center;
    vertical-align: middle;
    font-family: 'Verdana';
    font-weight: 900;
    font-size: 1.6em;
    color: white;
    letter-spacing: 0.05em;
    /* background-color: #e6e6e6; */
    padding: 6px 6px;
    border-radius: 12%;
}

.logo-ask {
    color: seagreen;
}

.site-title-link {
    text-decoration: none;
    font-weight: bold;
}

.search-form {
    margin-left: 30%;
    
}

.search-form input {
    background-color: #f8e7d3;
    color: #666;
    font-weight: 900;
    outline: none;
    font-size: 0.8em;
}

input.search-button {
    text-transform: uppercase;
    transition: all 0.3s ease;
}


input.search-button:hover {
    cursor: pointer;
    color: black;
}


.social {
    margin-left: 23%;
    display: inline-block;
}

.insta, .snap, .scloud {
    font-size: 1.8em;
    color: #f8e7d3;
    margin-left: 1em;
    transition: all 0.3s ease;
}

.insta:hover, .snap:hover, .scloud:hover {
     cursor: pointer;
     color: seagreen;
 }


.main-content {
    max-width: 94%;
    margin: 0 auto;
    min-height: 700px;
}

.table-style {
    width: 100%;
    color:#bfbfbf;
    text-align: center;
    border-collapse:separate; 
    border-spacing: 0 1em;
    padding-bottom: 2em;
} 


#submit, #add-comment {
  background-color: #1a1b1d;
  color:  #e19639;
  border: 1px solid #e19639;
  border-radius: 5px;
  padding: 4px 16px;
  outline: none;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 500;
  margin-left: 1em;
  text-transform: capitalize;
  font-size: 0.75em;
  text-decoration: none;
  transition: all 0.2s ease;
}

#add-comment {
    margin-top: 1em;
}

#submit:hover {
    color:#f8e7d3;
    border: 1px solid #f8e7d3;
}

.sort-area {
    display: inline-block;
    margin-top: 2em;
}


.sort-info {
    color: #e4e5e7;
    margin-right: 8px;
    font-size: 0.8em;
}


select {
  background-color: #3d3f42;
  color: #a6a6a6;
  height: 2em; 
  margin-right: 0.5em;
}


hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #252628;
    margin: 1em 0; padding: 0; }


.question-links {
    text-decoration: none;
    color: white;
}

.image-column {
    min-width: 100px;
}

.question-column {
    min-width: 250px;
}

.question-links {
    color: #eec490;
    text-decoration:underline;
}

.ask-question-button {
    margin-top: 1.5em;
    background-color: #428c40;
    border-color: #428c40;
    color:#f8e7d3;
    padding: 6px 6px;
    font-family: Verdana;
    font-weight: 900;
    cursor: pointer;
    outline: none;
    text-transform: capitalize;
    border-radius: 4px;
    letter-spacing: 0.05em;
    box-shadow: inset 0 1px 0 0 #316930;
    transition: all 0.3s ease;
}

.ask-question-button:hover {
    background-color: #316930;
    border-color: #316930;
    color: #f1cea7;
    box-shadow: inset 0 1px 0 0 #214620;
}

.ask-question-area {
    display: inline-block;
    float: right;
}


.question-title-area {
    display: flex;
    vertical-align: center;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 2em;
}

.question-title {
    display:inline-block;
}


.question-info {
    color: #eec490;
    margin-right: 1em;
}

.comment-info {
    color: #eec490;
    margin-right: 1em;
    margin-left: 2em;
}


.comment-style {
    border-bottom: 1px dotted #444;
    list-style: none;
    width: 70%;
    font-size: 0.8em;
}

.question-info-area {
    margin-bottom: 2em;
}


.voting-link {
    text-decoration: none;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.question-details {
    line-height: 1.5em;
    margin-left: 2em;
}

.title-image {
    margin-left: 2em;
}

.voting-area {
    display: inline-block;
    margin-left: 1em;
}

.voting-link-up {
    margin-bottom: 0.8em;
}


.answer-area {
    margin-left: 2em;
}

.each-answer {
    margin-bottom: 3em;
    background-color: #222;
    padding: 20px;
}

.answer-info-area {
    font-size: 0.8em;
    margin-bottom: 3em;
}

.answer-info {
    color: #eec490;
    margin-right: 1em;
}

.answer-title-area {
    display: flex;
    vertical-align: center;
    align-items: center;
}

.answer-details {
    display: inline-block;
    
}

#delete-answer, #show-all {
  background-color: #1a1b1d;
  color:  #e19639;
  border: 1px solid #e19639;
  border-radius: 5px;
  padding: 4px 16px;
  outline: none;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 500;
  margin-left: 1em;
  text-transform: capitalize;
  font-size: 0.75em;
  text-decoration: none;
  transition: all 0.3s ease;
}

#show-all {
    font-size: 0.9em;
}

#delete-answer:hover, #show-all:hover {
    color:#f8e7d3;
    border: 1px solid #f8e7d3;;
}


input {
    background-color: #3d3f42;
    border: 1px solid #e19639;
    padding: 4px;
    color:#f8e7d3;
}

textarea {
    background-color: #3d3f42;
    border: 1px solid #e19639;
    padding: 4px;
    color:#f8e7d3;
}

::placeholder {
    color:#f8e7d3;
}


.ask-question-button [type=submit] {
    background-color: red;
}

a.see-image-link {
    text-decoration: none;
    color: #e19639;
    max-width: 100px;
}

.see-image-link:hover {
    color: white;
}

#show-image {
  background-color: #1a1b1d;
  color:  #e19639;
  border: 1px solid #e19639;
  border-radius: 5px;
  padding: 4px 16px;
  outline: none;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: 500;
  margin-left: 1em;
  text-transform: capitalize;
  font-size: 0.75em;
  text-decoration: none;
  transition: all 0.3s ease;
}

#show-image:hover {
    border: 1px solid white;
    color: white;
}


.answers-section {
    margin-top: 3em;
}

.message-image {
    margin: 3em 0;
    margin-left: 2em;
}

.show_all_link {
    text-decoration: none;
    text-align: center;
    font-size: 2em;
}

.show-all-questions {
    text-align: center ;
    margin: 0 auto;
    width: 10em;
    color: white;
}

.show-all-questions a {
    text-decoration: none;
    color:  #e19639;
}

.show-all-questions a:hover {
    text-decoration: none;
    color:  white;
}

.recycle {
    color: #f8e7d3;
}

#recycle-link:hover {
    cursor: pointer;
}

.pencil {
    color: #f8e7d3;
    margin-left: 1em;
    margin-right: 1.5em;
}


footer {
    bottom: 0px;
    margin-top:  2em;
    height: 6em;
    background-color: #222;
    text-align: center;
    line-height: 6em;
}

.add-something {
    margin-top: 2em
}

.remove-tag {
    color: #ff6666; 
    margin-left: 0.3em;
}

.code-snippet {
    background-color: #222;
    color: #e19639;
    padding: 20px;
    font-weight: 900;
    width: 600px;
    margin-left: 2em;
}