{% extends 'framework.html'%}

{% block title %}
Question
{% endblock %}

{% block content%}
<h2 class="add-something">Edit this question</h2>
<form method="POST">
    <p><input type="text" name="title" required value="{{ question_info['title'] }}" minlength="3"></p>
    <p><textarea name="message" required ="{{ question_info['message'] }}" rows="10" cols="100" minlength="3">{{ question_info['message'] }}</textarea>
    </p>
    <p>TAGS:
        {% if tags_for_question != None %}
    {% for tag in tags_for_question %}
        #{{ tag }} <a class="remove-tag" href="/question/{{ question_info['id'] }}/{{ tag }}/delete-tag">X</a>
    {% endfor %}
    {% else %}<em>No tags</em>
    {% endif %}
    </p>
    <p>Add some new tags:</p>
    <p><select name="existing_tag">
        <option value="none">--Choose Tag--</option>
        {% for tag in all_tags %}
            <option value="{{ tag['name'] }}">{{ tag['name'] }}</option>
        {% endfor %}
        </select></p><p> ...or create new one(s):</p>
        <p><textarea name="tags" placeholder="Separate tags by comma..." minlength="3" rows="2" cols="100"></textarea>
    </p>
    <div><button class="ask-question-button" type="submit">POST</button></div>
</form>


{% endblock %}