<!DOCTYPE html>
<html>
    <head><title>Ask Question | AskMate</title></head>
    <body>
        <h2>Edit this question</h2>
        <form method="POST">
            <p><input type="text" name="title" required placeholder="{{ question_info['title'] }}" minlength="10"></p>
            <p><textarea name="message" required placeholder="{{ question_info['message'] }}" rows="10" cols="50"></textarea></p>
            <p><button type="submit">POST</button></p>
        </form>
    
    
    
    </body>


</html>