<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}| AskMate</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Galindo&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
</head>

<body>
    <div class="all-content">
        <div class="header-container">
            <a class="site-title-link" href="/">
                <h1 class="site-title"><span class="logo-ask">ASK</span>.mate</h1>
            </a>
            <form class="search-form" action="/search" method="GET">
                <input type="text" name="q" required value="{{ search_term }}">
                <input class="search-button" type="submit" value="Search">
            </form>
            <div class="social"><i class="insta fab fa-instagram"></i><i class="scloud fab fa-soundcloud"></i><i
                class="snap fab fa-snapchat-ghost"></i></div> 
        </div>


        <div class="main-content">

            {% block content %}

            {% endblock%}

            
        </div>
        <footer>@2020 Gheboianu &amp; Catrina. All rights reserved.</footer>
    </div>
    <script>
        function deleteComment(comment_id) {

            confirmation = confirm("Comment ID: " + comment_id + " Are you sure you want to delete this comment?");

            if (false == confirmation) 
                return false;
            
            window.location.pathname = "/comments/" + comment_id + "/delete";}

        function deleteQuestion(question_id) {

            confirmation = confirm("Question ID: " + question_id + " Are you sure you want to delete this question?");

            if (false == confirmation) 
                return false;
            
            window.location.pathname = "/question/" + question_id + "/delete";}

        function deleteAnswer(question_id, answer_id) {
            confirmation = confirm("Answer ID: " + answer_id + " Are you sure you want to delete this answer?");
            if (false == confirmation)
                return false;
            
            window.location.pathname = '/answer/' + question_id + '/' + answer_id + '/delete';}
        
    </script>


</body>

</html>