<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}| AskMate</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="all-content">
        <div class="header-container">
            <a class="site-title-link" href="/">
                <h1 class="site-title">ask.Mate</h1>
            </a>
        </div>


        <div class="main-content">

            {% block content %}

            {% endblock%}


        </div>
    </div>
</body>

</html>