{% extends 'framework.html' %}

{% block title %}
Home
{% endblock %}


{% block content %}
{% if empty == True: %}
<p><strong>There are no questions to show for the moment</strong></p>
{% else: %}
<div class="sort-area">
    <form method="POST">
        <strong class="sort-info">Sort by:</strong>
        <select name="sort_by" value="{{ default_sort_by }}" aria-selected="true">
            <option value="title">title</option>
            <option value="submission_time">submission time</option>
            <option value="message">message</option>
            <option value="vote_number">number of views</option>
            <option value="view_number">number of votes</option>
        </select>
        <select name="order" aria-placeholder="{{ defaul_order }}">
            <option value="ascending">ascending</option>
            <option value="descending">descending</option>
        </select>
        <button id="submit" type="submit">sort</button>
    </form>
</div>
<div class="ask-question-area"><button class="ask-question-button" onclick="location.href='/list/add-question'">ask
        question</button></div>
<hr />
<table class="table-style">
    {% for heading in table_heading: %}
    <th class="headers">{{ heading }}</th>
    {% endfor %}

    {% for question in questions: %}
    <tr>
        {% for key, value in question.items(): %}
        {% if key != "title": %}
        <td>{{ value }}</td>
        {% else: %}
        <td class="question-column"><a class="question-links" href="/question/{{ question['id'] }}">{{ value }}</a></td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endif %}

{%endblock%}