<!-- <!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log In | AskMate</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Galindo&display=swap" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    </head> -->

{% extends 'framework.html' %}
{% block title %}
Log In
{% endblock %}
{% block content %}
   
        <div class="card_space">
        <div class="box-1">
            <h2>LOG IN</h2>
                <form method="POST">
                    <div><input type="text" name="username" required placeholder="Username"></div>
                    <div><input type="password" name="password" required minlength="8" placeholder="Password"></div>
                    {% if login_error == True %}
                    <em id="comment-header" class="question-info">Invalid username or password</em>
                    {% endif %}
                    <div><button type="submit">Log In</button></div>
                </form>
                <div style="margin-bottom: 40px;"><a href="/registration/signup"><u>Don't have an account yet? Click here to Sign Up</u></a></div>

        </div></div>

        {% endblock %}

