{% extends 'framework.html'%}

{% block title %}
New Answer
{% endblock %}

{% block content%}
<h1 class="add-something">{{ question['title'] }}</h1>
<div class="answer-area">
    <h4>{{ question['message'] }}</h4>
    {% if question['code_snippet'] != '' %}
    <pre><code>{{ question['code_snippet'] }}</code></pre>
    {% endif %}
</div>
<hr>
<h3>Your answer:</h3>
<p>
    <form method="POST" enctype="multipart/form-data">
        <textarea name="answer" required placeholder="Type your answer here..." rows="10" cols="100" minlength="1"></textarea>
        <p>Code snippet (optional):</p>
        <p> <textarea name="code_snippet" placeholder="Add your code snippet here..." rows="10" cols="100"></textarea></p>
        <p> <label for="img">Select image:</label>
            <input class="file-button" type="file" id="img" name="image" accept="image/*"></p>
        <div><button class="ask-question-button" type="submit">post answer</div>
    </form>
</p>
{% endblock %}