{% extends 'framework.html'%}

{% block title %}
Question
{% endblock %}

{% block content%}

<hr />
<div class="question-title-area">
    <h2 class="question-title">{{ question['title'] }}</h2>
    <div class="voting-area">
        <a class="voting-link" href="/question/{{ question_id }}/vote-up"><img src="../static/upvote.png" width="20"
                height="20"></a> <a class="voting-link" href="/question/{{ question_id }}/vote-down"><img
                src="../static/downvote.png" width="20" height="20"></a>
    </div>
</div>



<div class="question-info-area">
    <strong>Question ID:</strong> <em class="question-info">{{ question["id"] }}</em>
    <strong>Posted:</strong> <em class="question-info">{{ question["submission_time"] }}</em>
    <strong>Views:</strong> <em class="question-info">{{ question["view_number"] }}</em>
    {% if question['vote_number'] != None %}
    <strong>Votes:</strong> <em class="question-info">{{ question["vote_number"] }}%</em>
    {% else %}
    <strong>Votes:</strong> <em class="question-info">N/A</em>
    {% endif %}
    <button id="submit" onclick="location.href='/question/{{ question_id }}/edit'">Edit Question</button>
    <button id="submit" onclick="location.href='/question/{{ question_id }}/delete'">Delete Question</button>
    {% if tags_for_question != None %}
    <p><strong>TAGS:</strong>
        {% for tag in tags_for_question %}
        <em class="question-info"><a class="question-links" href="/search?q={{ tag }}">#{{ tag }}</a>as</em>
        {% endfor %}
        {% endif %}
    </p>
</div>



<hr>
<h4 class="question-details">{{ question['message'] }}</h4>
{% if question['image'] != "/static/" %}
<img class="title-image" src="{{ question['image'] }}" width="480" height="280">
{% endif %}
<hr>
<div class="question-info-area">
    <strong><em class="question-info">Comments</em></strong>
    {% if comments_for_question != None %}
    {% for comment in comments_for_question %}
    <ul>
        <li>
            <p>{{ comment['message'] }} | <strong>Comment ID: </strong><em
                    class="question-info">{{ comment['id'] }}</em> | <strong>Posted: </strong><em
                    class="question-info">{{ comment['submission_time'] }}</em> | <a id="delete-answer"
                    href="/question/{{ question_id }}/{{ comment['id'] }}/edit-comment">Edit Comment</a><a
                    onclick="myFunction({{ comment['id'] }})"><i class="recycle fas fa-trash-alt"></i></a></p>
        </li>
    </ul>
    {% endfor %}
    <p>{% if num_comments_for_question > 3 and show_more_com_for_q != 'yes' %}
        <a class="question-links" href="/question/{{ question_id }}?show_more_com_for_q=yes">Show all comments</a></p>
    {% endif %}
    <p>{% if show_more_com_for_q == 'yes' %}
        <a class="question-links" href="/question/{{ question_id }}?show_more_com_for_q=no">Show less comments</a></p>
    {% endif %}
    {% else %}
    <p><em>There are no comments for this question</em></p>
    {% endif %}
    <button id='submit' onclick="location.href='/question/{{ question_id }}/add-comment'">Add Comment</button>
</div>
<hr>
<div class=" answers-section">
    {% if num_answers != 0: %}
    {% if num_answers > 1 %}
    <h2>{{ num_answers }} Answers</h2><br>
    {% else %}
    <h2>{{ num_answers }} Answer</h2><br>
    {% endif %}
    {% else: %}
    <h2>Answers</h2><br>
    {% endif %}
</div>

<div class="answer-area">
    {% if empty == True: %}
    <p><strong>There are no answers for this questions yet.</strong></p>
    {% else: %}
    {% for answer in answers: %}
    <div class="each-answer">
        <div class="answer-title-area">
            <div class="answer-details">
                <p>{{answer['message']}}</p>
            </div>
            <div class="voting-area">
                <a class="voting-link" href="/answer/{{ question_id }}/{{ answer['id'] }}/vote-up"><img
                        src="../static/upvote.png" width="16" height="16"></a> <a class="voting-link"
                    href="/answer/{{ question_id }}/{{ answer['id'] }}/vote-down"><img src="../static/downvote.png"
                        width="16" height="16"></a>
            </div>
            <a id="delete-answer" href="/answer/{{ question_id }}/{{ answer['id'] }}/edit">Edit Answer</a>
            <a id="delete-answer" href="/answer/{{ question_id }}/{{ answer['id'] }}/delete">Delete Answer</a>

        </div>
        <div class="answer-info-area">
            <strong>Answer ID: </strong><em class="answer-info">{{ answer['id'] }}</em>
            <strong>Answered: </strong> <em class="answer-info">{{ answer["submission_time"] }}</em>
            {% if answer['vote_number'] != None %}
            <strong>Votes: </strong> <em class="answer-info">{{ answer["vote_number"] }}%</em>
            {% else %}
            <strong>Votes: </strong> <em class="answer-info">N/A</em>
            {% endif %}
        </div>
        {% if answer['image'] != '': %}
        <p><img src="{{answer['image']}}" width="480" height="280"></p>
        {% endif %}
        <div class="question-info-area">
            <strong><em class="question-info">Comments</em></strong>
            <<<<<<< HEAD {% if comments_for_answers != None %} {% for comment in comments_for_answers %}
                {% if comment['answer_id'] == answer['id'] %} <ul>
                <li>
                    <p>{{ comment['message'] }} | <strong>Comment ID: </strong><em
                            class="question-info">{{ comment['id'] }}</em> | <strong>Posted: </strong><em
                            class="question-info">{{ comment['submission_time'] }}</em>
                        <a onclick="myFunction({{ comment['id'] }})"><i class="recycle fas fa-trash-alt"></i></a>
                    </p>
                </li>
                </ul>
                {% endif %}
                {% endfor %}
                {% else %}
                <p><em>There are no comments for this answer</em></p>
                {% endif %}
                <a class="question-links" href="/{{ question['id'] }}/answer/{{ answer['id'] }}/new-comment">Add
                    Comment</a>
                =======
                {% if comments_for_answers != None %}
                {% for comment in comments_for_answers %}
                {% if comment['answer_id'] == answer['id'] %}
                <ul>
                    <li>
                        <p>{{ comment['message'] }} |
                            <strong>Comment ID: </strong><em class="question-info">{{ comment['id'] }}</em> |
                            <strong>Posted: </strong><em class="question-info">{{ comment['submission_time'] }}</em> |
                            <a id="delete-answer"
                                href="/answer/{{ answer['id'] }}/{{ question_id }}/{{ comment['id'] }}/edit-comment">Edit
                                Comment</a></p>
                    </li>
                </ul>

                {% endif %}
                {% endfor %}

                {% else %}
                <p><em>There are no comments for this answer</em></p>
                {% endif %}
                <a id="delete-answer" href="/{{ question['id'] }}/answer/{{ answer['id'] }}/new-comment">Add Comment</a>
                >>>>>>> 0f300abf11bd1cc9c078e27deccede8d438f4d46
        </div>
        <hr>
    </div>
    {% endfor %}
    {% endif %}

</div>
<p><button class="ask-question-button" onclick="location.href='/question/{{ question_id }}/new-answer'">post
        answer</button>
</p>


{% endblock %}