<!DOCTYPE html>
<html>
    <head>
        
        <title>{{ question['title'] }} | AskMate</title></head>
    <body>
        <h1><a href="/">AskMate</a></h1>
        <hr>
        <h2>{{ question['title'] }}</h2>
        <h3>Q: {{ question['message'] }}</h3>
        <strong>Question ID:</strong> <em>{{ question["id"] }}</em> | 
        <strong>Posted:</strong> <em>{{ question["submission_time"] }}</em> | 
        <strong>Views:</strong> <em>{{ question["view_number"] }}</em> | 
        <strong>Votes:</strong> <em>{{ question["vote_number"] }}</em> | 
        <a href="/question/{{ question_id }}/vote-up">UP VOTE</a> ~ 
        <a href="/question/{{ question_id }}/vote-down">DOWN VOTE</a> |
        <button onclick="location.href='/question/{{ question_id }}/edit'">Edit Question</button>
        <button onclick="location.href='/question/{{ question_id }}/delete'">Delete Question</button>
        <hr><hr>
        <p><h3>ANSWERS</h3><br></p>
    
        <p>
            {% if empty == True: %}
                <p><strong>There are no answers for this questions yet.</strong></p>
            {% else: %}
                {% for answer in answers: %}
                    <p><strong>Answer ID:</strong> <em>{{ answer["id"] }}</em> | 
                        <strong>Posted:</strong> <em>{{ answer["submission_time"] }}</em> | 
                        <strong>Votes:</strong> <em>{{ answer["vote_number"] }}</em> | 
                        <a href="/answer/{{ question_id }}/{{ answer['id'] }}/vote-up">UP VOTE</a> ~ 
                        <a href="/answer/{{ question_id }}/{{ answer['id'] }}/vote-down">DOWN VOTE</a> |
                        <a href="/answer/{{ question_id }}/{{ answer['id'] }}/delete">Delete Answer</a>
                    </p>
                    <p>{{answer['message']}}</p>
                    <p>{{answer['image']}}</p>
                    <hr>
                {% endfor %}
            {% endif %}
        </p>
        <p><button onclick="location.href='/question/{{ question_id }}/new-answer'">POST ANSWER</button>
        </p>
    </body>

        
</html>