{% extends 'framework.html' %}

{% block title %}
Question Img
{% endblock %}


{% block content %}
<p>
    <hr>
    <h2 class="question-title" style="margin-top: 2em">{{ question['title'] }}</h2>
    <div class="question-info-area">
        <strong>Question ID:</strong> <em class="question-info">{{ question["id"] }}</em>
        <strong>Posted:</strong> <em class="question-info">{{ question["submission_time"] }}</em>
        <strong>Views:</strong> <em class="question-info">{{ question["view_number"] }}</em>
        {% if question['vote_number'] != None %}
            <strong>Votes:</strong> <em class="question-info">{{ question["vote_number"] }}%</em>
        {% else %}
            <strong>Votes:</strong> <em class="question-info">N/A</em>
        {% endif %}

        <button id="submit" onclick="location.href='/question/{{ question_id }}/edit'">Edit Question</button>
        <button id="submit" onclick="location.href='/question/{{ question_id }}/delete'">Delete Question</button>
        {% if tags_for_question != None %}
        <p><strong>TAGS:</strong>
        {% for tag in tags_for_question %}
            <em class="question-info"><a class="question-links" href="/search?q={{ tag }}">#{{ tag }}</a></em>
            {% endfor %}
        {% endif %}
        </p>
    </div>
    <hr>
    <div class="message-image">
        <h3>{{ question['message'] }}</h3>
        <img src="{{ image }}" width="1200" height="800" alt="Image cannot be displayed">
    </div>
</p>
<hr>
{% if username != None %}
<p>
    <button class="ask-question-button" onclick="location.href='/question/{{ question_id }}/new-answer'">post
        answer</button>
</p>
{% else %}
<p>
    <button class="ask-question-button" onclick="location.href='/registration/login'">post
        answer</button>
</p>
{% endif %}
{% endblock %}