{% extends 'framework.html' %}
{% block title %}
Home
{% endblock %}


{% block content %}






        <div class="user-all-content">
            {% if user['profile_pic'] != None %}
            <img src="{{ user['profile_pic'] }}" width="240" height="320">
            {% else %}
            
            <i class="fas fa-user-tie"></i>
            {% endif %}

            <div class="profile-info">
                <div><strong>Username:</strong> <em class="question-info">{{ user['username'] }}</em></div><hr>
                <div><strong>Email:</strong> <em class="question-info">{{ user['email'] }}</em></div><hr>
                <div><strong>Profile created:</strong> <em class="question-info">{{ user['created'] }}</em></div><hr>
                <div><strong>User rank:</strong> <em class="question-info">999</em></div><hr>
                {% if user['username'] == username %}
                <div class="user-button">
                    <button onclick="location.href='#'">CHANGE PASSWORD</button>
                    <button onclick="location.href='/logout'">LOG OUT</button>
                    <button onclick="location.href='#'">DELETE ACCOUNT</button>
                </div>
                {% else %}
                <div class="follow-button">
                    {% if username != None %}
                    <button onclick="location.href='#'">FOLOW</button> <em style="font-size: 15px;">24.4k followers</em>
                    {% else %}
                    <button onclick="location.href='/registration/login'">FOLOW</button> <em style="font-size: 15px;">24.4k followers</em>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="user-contrbutions" style="margin-left: 150px;">
                <h2>Community Contributions</h2>

            </div>
            
            
</div>  



                
                
            

            
            





        
{% endblock %}