{% extends 'framework.html' %}
{% block title %}
User Profile
{% endblock %}


{% block content %}






        <div class="user-all-content">
            {% if user['profile_pic'] != None %}
            <img src="{{ user['profile_pic'] }}" width="260" height="320">
            {% else %}
            
            <i class="fas fa-user-tie"></i>
            {% endif %}

            <div class="profile-info">
                <div><strong>Username:</strong> <em class="question-info">{{ user['username'] }}</em></div><hr>
                <div><strong>Email:</strong> <em class="question-info">{{ user['email'] }}</em></div><hr>
                <div><strong>Member since:</strong> <em class="question-info">{{ user['created'] }}</em></div><hr>
                <div><strong>Rank:</strong> <em class="question-info">999</em></div><hr>

                {% if user_tags  %}
                <div><strong>Interests:</strong> 
                    {% for tag in user_tags %}
                        {% if username == user['username'] or account_type == 'admin' %}
                        <a href="/user/{{ username }}/{{ tag['tagid'] }}/remove-tag"><em class="user-interest">{{ tag['name'] }}</em></a>
                        {% else %}
                        <a href="/search?q={{ tag['name'] }}"><em class="question-links">{{ tag['name'] }}</em></a>
                        {% endif %}
                    {% endfor %}
                    {% if username == user['username'] or account_type == 'admin' %}
                        <button class="interests-button" onclick="location.href='/user/{{ username }}/choose-interests'">+</button><hr>
                    {% else %}
                    <hr>
                    {% endif%}
                {% else %}
                    <div><strong>Interests:</strong> <em class="question-info">No saved interests</em>
                        {% if username == user['username'] or account_type == 'admin' %}
                            <button class="interests-button" onclick="location.href='/user/{{ username }}/choose-interests'">+</button><hr>
                        {% else %}
                        <hr>
                        {% endif%}
                {% endif %}
                        </div>
                {% if user['username'] == username or account_type == 'admin' %}
                
                <div class="user-button">
                    <div class="sort-area">
                        <form method="POST">
                            <select name="app_theme">
    
                                {% if app_theme == 'black_orange' %}
                                <option value="black_orange" selected>Black & Orange</option>
                                {% else %}
                                <option value="black_orange">Black & Orange</option>
                                {% endif %}
    
                                {% if app_theme == 'blue_cream' %}
                                <option value="blue_cream" selected>Blue & Cream</option>
                                {% else %}
                                <option value="blue_cream">Blue & Cream</option>
                                {% endif %}
                            </select>
                            <button id="submit" type="submit">change app theme</button>
                        </form>
                    </div>
                    <button onclick="location.href='#'">CHANGE PASSWORD</button>
                    <button onclick="location.href='#'" style="color: red; border-color: red;">DELETE ACCOUNT</button>
                </div>
                
                {% else %}
                
                <div class="follow-button">
                    {% if username != None %}
                    {% if following_user == False %}
                    <button onclick="location.href='/user/{{ on_page_username }}/follow'">FOLOW</button> 
                    <a class="question-links" href="/user/{{ on_page_username }}/followers"><em style="font-size: 15px;margin-left: 10px;">{{ user_num_followers }} followers</em></a>
                    {% else %}
                    <button style="background-color: white; color: #D36582;" onclick="location.href='/user/{{ on_page_username }}/unfollow'">FOLOWING</button> 
                    <a class="question-links" href="/user/{{ on_page_username }}/followers"><em style="font-size: 15px;margin-left: 10px;">{{ user_num_followers }} followers</em></a>
                    {% endif %}
                    {% else %}
                    <button onclick="location.href='/registration/login'">FOLOW</button> 
                    <a class="question-links" href="/user/{{ on_page_username }}/followers"><em style="font-size: 15px; margin-left: 10px;">{{ user_num_followers }} followers</em></a>
                    {% endif %}
                </div>
                {% endif %}
                </div>
            </div>
            <hr>
            <div class="user-contrbutions" style="margin-left: 45px; font-size: x-small;">
                <h2 style="font-size: x-large;">Community Contributions</h2><br>
                {% if contributions['questions'] or contributions['answers'] or contributions['comments'] %}
                    
                        {% if contributions['questions'] %}
                            <p><strong style="font-size: large;">Questions asked:</strong></p><br>
                            <p>
                            {% for item in contributions['questions'] %}
                                <p><a style="font-size: large; color: #eec490;" href="/question/{{ item['id'] }}">{{ item['title'] }}</a></p>
                                <strong>Question ID:</strong> <em class="question-info">{{ item["id"] }}</em>
                                <strong>Posted:</strong> <em class="question-info">{{ item["submission_time"] }}</em>
                                <strong>Views:</strong> <em class="question-info">{{ item["view_number"] }}</em>
                                {% if item['vote_number'] != None %}
                                <strong>Votes:</strong> <em class="question-info">{{ item["vote_number"] }}%</em><br><hr>
                                {% else %}
                                <strong>Votes:</strong> <em class="question-info">N/A</em><br><hr>
                                {% endif %}
                            {% endfor %}
                            </p>
                            <br><br>
                        {% endif %}
                       
                        {% if contributions['answers'] %}
                            <p><strong style="font-size: large;">Answers given:</strong></p><br>
                            <p>
                            {% for item in contributions['answers'] %}
                                {% if item['accepted'] == True %}
                    
                                <p style="font-size: large; color: wheat;"><i style="color: seagreen; font-size: x-large; margin-right: 10px; border-style: solid; border-radius: 4px; border-color: seagreen;" class="fas fa-check"></i>{{item['message']}}</p>
                                {% else %}
                                <p style="font-size: large; color: wheat;">{{ item['message'] }}</p>
                                {% endif %}
                                <a style="font-size: medium; color: #e19639;" href="/question/{{ item['question_id'] }}">Go to Question</a><br><br>
                                <strong>Answer ID:</strong> <em class="question-info">{{ item["id"] }}</em>
                                <strong>Posted:</strong> <em class="question-info">{{ item["submission_time"] }}</em>
                                {% if item['vote_number'] != None %}
                                <strong>Votes:</strong> <em class="question-info">{{ item["vote_number"] }}%</em><br><hr>
                                {% else %}
                                <strong>Votes:</strong> <em class="question-info">N/A</em><br><hr>
                                {% endif %}
                            {% endfor %}
                            </p>
                            <br><br>
                        {% endif %}
                        
                        {% if contributions['comments'] %}
                            <p><strong style="font-size: large;">Comments posted:</strong></p><br>
                            <p>
                            {% for item in contributions['comments'] %}
                                <p style="font-size: large; color: wheat;">{{ item['message'] }}</p>
                                <a style="font-size: medium; color: #e19639;" href="/question/{{ item['question_id'] }}">Go to Question</a><br><br>
                                <strong>Comment ID:</strong> <em class="question-info">{{ item["id"] }}</em>
                                <strong>Posted:</strong> <em class="question-info">{{ item["submission_time"] }}</em><hr>
                            {% endfor %}
                            </p>
                        {% endif %}
                   
                {% else %}
                    {% if user['username'] == username %}
                        <p style="font-size: large;">You don't have any contributions yet.
                            You can start by <a href="/list/add-question"><em style="color:#eec490;">asking a question</em></a> or by <a href="/"><em style="color: #eec490;">finding questions</em></a> to help with.</p>
                    {% else %}
                            <p>This user doesn't have any contributions.</p>
                    {% endif %}
                {% endif %}
            
            
            
        </div>  



                
                
            

            
            





        
{% endblock %}